a {
  text-decoration: none;
}

.bandcamp-frame {
  display: flex;
  flex: 1;
  height: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bandcamp-player {
  border: 0;
  width: 350px;
  height: 470px;
}

.spotify-widget {
  border: none;
  overflow: hidden;
  margin: 10px 0;
  width: 210px;
  height: 56px;
}

.link-wrapper {
  width: 100%;
  text-align: center;
}

.link {
  font-family: 'Rubik Mono One', sans-serif;
}

.social-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}

.fa {
  color: lightgrey;
}

@media only screen and (min-width: 500px) {
  .bandcamp-frame {
    height: 100%;
    width: 100%;
  }

  .social-buttons-wrapper {
    width: 75%;
  }
}
