ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 2em;
  font-family: 'Rubik Mono One', sans-serif;
  color: lightgrey;
  cursor: pointer;
  margin: 0 10px;
}

.App-logo {
  max-height: 75%;
  max-width: 100%;
}

.App-header {
  background-color: black;
  height: 15%;
  color: white;
  margin-bottom: 2em;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

@media only screen and (min-width: 700px) {
  .App-header {
    height: 15em;
    padding: 20px 0;
  }
  .header-items {
    flex-direction: row;
  }
}


